<% content_for :title do %>
  Log in
<% end %>

<section>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", required: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", required: true %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <button type="submit">
        <b>Log in</b>
      </button>
    </div>
  <% end %>
</section>

<section>
  <p>
    <%= render "devise/shared/links" %>
  </p>
</section>
