<%- content_for(:title) do %>
  My account
<% end %>

<section>
  <header>
    <h1>
      <%= current_user.email %>
    </h1>

    <%- if current_user.admin? %>
      <%= link_to "/admin" do %>
        <em>Admin</em>
      <% end %>
      <br>
      <%= link_to "/blazer" do %>
        <em>Analytics</em>
      <% end %>
      <br>
    <% end %>
    <%= link_to edit_user_registration_url do %>
      <em>Edit settings</em>
    <% end %>
    <br>
    <%= link_to destroy_user_session_url, method: 'delete' do %>
      <b>Sign out</b>
    <% end %>
  </header>
</section>
