<%- content_for(:title) do %>
  My account
<% end %>

<section>
  <header>
    <p>
      <%- if current_user %>
        <%= current_user.email %>

      <%- elsif defined? new_user_session_url %>
        <%= link_to "Sign In", new_user_session_url %>
      <% end %>
    </p>

    <%- if current_user %>
      <%- if current_user.admin? %>
        <%= link_to "/admin" do %>
          <em>Admin</em>
        <% end %>
        <br>
        <%= link_to "/blazer" do %>
          <em>Analytics</em>
        <% end %>
      <% end %>
    <p>
      <% if false %>
      <%= link_to_if false, edit_user_registration_url do %>
        <em>Change email</em>
      <% end %>

      <%= link_to edit_user_password_url do %>
        <em>Change password</em>
      <% end %>
      <% end %>

      <%= link_to destroy_user_session_url, method: 'delete' do %>
        <b>Sign out</b>
      <% end %>
    </p>
    <% end %>
  </header>
</section>
