<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:title) if content_for?(:title) %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel='manifest' href='/manifest.json'>
    <link rel="apple-touch-icon" href="<%= asset_url('front/logo_180.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_url('front/logo_16.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_url('front/logo_32.png') %>">

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", async: true %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="<%= Front.config[:name] %>">
    <meta name="description" content="<%= Front.config[:description] %>">
    <meta name="theme-color" content="<%= Front.config[:theme_color] %>"/>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= main_app.root_url %>">
    <meta property="og:title" content="<%= yield :title %>">
    <meta property="og:description" content="<%= Front.config[:description] %>">
    <meta property="og:image" content="<%= asset_url('front/logo_large.png') %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= main_app.root_url %>">
    <meta property="twitter:title" content="<%= yield :title %>">
    <meta property="twitter:description" content="<%= Front.config[:description] %>">
    <meta property="twitter:image" content="<%= asset_url('front/logo_large.png') %>">

    <%= yield :head %>
    <%= stimulus_include_tags %>
    <%= javascript_include_tag "turbo", type: "module-shim" %>
  </head>

  <body>
    <%= render template: "layouts/front/application" %>

    <dialog id="modalDialog" onClick="if(event.target == this) this.close()"></dialog>

    <script type="text/javascript">
      if (navigator.serviceWorker) {
        navigator.serviceWorker.register("/service-worker.js", { scope: "/" })
      }
    </script>
  </body>
</html>
