<!DOCTYPE html>
<html>
  <head>
    <title>
      <%- if content_for? :title %>
        <%= yield :title %> -
      <% end %>
      GhostTrain
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% flash.each do |name, msg| -%>
        <%= content_tag :sup, msg, class: name %>
      <% end -%>

      <nav>
        <a href="javascript:history.back()">
          &larr; Back
        </a>

        <ul>
          <%- if current_user&.admin? %>
            <li><%= link_to "Admin", "/admin" %></li>
          <% end %>
          <li>
            <%- if current_user %>
              <%= link_to_if action_name != "account", "My account", main_app.account_url %>
            <%- elsif defined? main_app.new_user_session_url %>
              <%= link_to "Log In", main_app.new_user_session_url %>
            <% end %>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <header>
          <h1><%= yield :title %></h1>
        </header>
      </section>

      <%= yield %>
    </main>
  </body>
</html>
