<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:title) if content_for?(:title) %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel='manifest' href='/manifest.json'>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>

    <meta name="Description" content="<%= Front.config[:description] %>">
    <meta name="theme-color" content="<%= Front.config[:theme_color] %>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= render template: "layouts/front/application" %>

    <script type="text/javascript">
      if (navigator.serviceWorker) {
        navigator.serviceWorker.register("/service-worker.js", { scope: "/" })
      }
    </script>
  </body>
</html>
